@keyframes RotatingPug{
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#RotatingPug {
    border-radius: 100%;
    animation-name: RotatingPug;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}