{% extends 'base.html' %}

{% block title %}
    Assignment 10 Page
{% endblock %}

{% block header %}
    <h1>This is the Assignment 10 Page!</h1>
{% endblock %}

{% block body %}
    {% set page_name = 'Assignment 10 Page' %}


        <h2>Insert new user</h2>
        <form action="/insert_user" method="POST" style="display: inline">
            Name: <input name="name" type="text"> <br><br>
            Email: <input name="email" type="email"> <br><br>
            <input type="submit" value="Insert">
        </form>


        <h2>Update user details</h2>
        <form action="/update_user" method="POST" style="display: inline">
            Name: <input name="name" type="text"> <br><br>
            New Email: <input name="new_email" type="email"> <br><br>
            <input type="submit" value="Update">
        </form>


        <h2>Delete user</h2>
        <form action="/delete_user" method="POST">
            Name: <input name="name" type="text"> <br><br>
            <input type="submit" value="Delete">
        </form>

        {% if user_list %}
            <h2>User List:</h2>
            <ul>
                {% for user in user_list %}
                <li>
                    <b>Name:</b> {{ user.name }}, <b>Email:</b> {{ user.email }}
                </li>
                {% endfor %}
            </ul>

        <p>{{ change_message }}</p>

        {% else %}
        <br>
        <form action="/user_list" method="GET">
            <input type="submit" value="Show Users">
        </form>

        {% endif %}
{% endblock %}